.rn-box.salary-main.container
  h3.box-header 薪资管理
  h4.box-title 薪资体系结构
  .box-content
    ul.salary-list-wrap
      li
        a([routerLink]="['/salary/standard']") 工资配置
      li
        a(href="/attendance") 本月应发工资
      li
        | 扣款
      li
        | 实发工资
      li
        | 代扣伙食费
      li
        | 领款金额
      li
        | 薪资计算公式
      li
        a([routerLink]="['/salary/detail']") 薪资详情




