.container.index-box
  h5.box-title 应用管理
  ul.index-list
    li
      | 签到
    li
      a(href="/attendance") 考勤管理
    li
      | 日志
    li
      | 公告
    li
      | 审批
    li
      | 邮件
    li
      a(href="/report") 智能报表
    li
      | 客户管理
    li
      a(href="/employee") 员工管理
    li
      a(href="/salary") 薪资管理



