nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
  // Brand
  a.navbar-brand(href='#') LOGO
  // Links
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='#') 首页
    li.nav-item
      a.nav-link(href='#') 工作台
    // Dropdown
    li.nav-item.dropdown
      a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
        | 员工管理
      .dropdown-menu
        a.dropdown-item(href='/employee') 所有员工
        a.dropdown-item(href='/employee/add') 添加员工
