.rn-box
  .rn-table-tools
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#employeeAdd') 添加员工
    button.btn.btn-primary(type='button') 批量添加
    button.btn.btn-primary(type='button' , data-toggle='modal', data-target='#employeeDept') 部门调整
    button.btn.btn-primary(type='button') 职位调整
    button.btn.btn-danger(type='button') 离职
  //ul
    li(*ngFor="let user of users")
      | {{user.name}}
  table.table.table-bordered
    thead
      tr
        th.th-checkbox 选择
        th 姓名
        th 工号
        th 部门
        th 职位
        th 等级
        th 邮箱
        th 办公地点
        th 入职时间
    tbody
      tr(*ngFor="let user of users")
        td
          input(type="checkbox")
        td
          a([routerLink]="['/employee/profile',1]", [queryParams]='{manager:true}') {{user.name}}
        td {{user.id}}
        td 秩序维护部
        td 班长
        td 二级
        td {{user.email}}
        td V客部落
        td 2018-08-08
      tr
        td([attr.colspan]="colspanSize")
          span([class]='spanColor') html属性绑定（与Dom属性绑定的区别）
          div([ngClass]='divClass') ngclass
          div([style.color]="styleStr?'red':'blue'") styleStr
          div([ngStyle]="divStyle") divStyle
          div {{ngModelValue}}
      tr
        td([attr.colspan]="colspanSize")
          input([attr.value]='colspanSize')
          input([(ngModel)]='ngModelValue')

  #employeeAdd.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        // 模态框头部
        .modal-header
          h4.modal-title 添加员工
          button.close(type='button', data-dismiss='modal') ×
        // 模态框主体
        .modal-body
          form.rn-form
            .rn-form-group
              label 姓名
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 部门
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 职位
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 等级
              .rn-form-content
                select
            .rn-form-group
              label 邮箱
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 办公地点
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 入职时间
              .rn-form-content
                input(type='text', placeholder='入职时间')
        // 模态框底部
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') 关闭
  router-outlet
  #employeeDept.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        // 模态框头部
        .modal-header
          h4.modal-title 部门调整
          button.close(type='button', data-dismiss='modal') ×
        // 模态框主体
        .modal-body.employee-dept.clearfix
          .left-wrap
            h4.title 选择:
            .content
          .right-wrap
            h4.title 已选:
            .content

        // 模态框底部
        .modal-footer
          button.btn.btn-primary(type='button', data-dismiss='modal') 确定
          button.btn.btn-outline-dark(type='button', data-dismiss='modal') 取消
