.rn-box
  .rn-table-tools
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#employeeAdd') 添加员工
    button.btn.btn-primary(type='button') 批量添加
    button.btn.btn-primary(type='button') 部门调整
    button.btn.btn-primary(type='button') 职位调整
  table.table.table-bordered
    thead
      tr
        th 姓名
        th 工号
        th 部门
        th 职位
        th 等级
        th 办公地点
        th 入职时间
    tbody
      tr
        td
          a([routerLink]="['/employee/profile',1]", [queryParams]='{manager:true}') 张三
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td V客部落
        td 2018-08-08
      tr
        td
          a([routerLink]="['/employee/profile',2]") 李四
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td V客部落
        td 2018-08-08
  #employeeAdd.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        // 模态框头部
        .modal-header
          h4.modal-title 添加员工
          button.close(type='button', data-dismiss='modal') ×
        // 模态框主体
        .modal-body
          form.rn-form
            .rn-form-group
              label 姓名
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 部门
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 职位
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 等级
              .rn-form-content
                select
            .rn-form-group
              label 邮箱
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 办公地点
              .rn-form-content
                input(type='text')
            .rn-form-group
              label 入职时间
              .rn-form-content
                input(type='text', placeholder='入职时间')
        // 模态框底部
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') 关闭
