.rn-box
  .rn-table-tools
    //button.btn.btn-primary(type="button" data-toggle='modal', data-target='#workingShift') 班次维护
    a.working-shift-link([routerLink]="['/attendance/workingShift']") 班次维护
    input(type="checkbox")
    label 迟到
    input(type="checkbox")
    label 早退
    input(type="checkbox")
    label 旷工
    input(type="checkbox")
    label 事假
    input(type="checkbox")
    label 病假
    input(type="checkbox")
    label 调休
    input(type="checkbox")
    label 年假
  table.table.table-bordered
    thead
      tr
        th.th-checkbox 全选
        th 姓名
        th 工号
        th 部门
        th 职位
        th 等级
        th 事假合计
        th 迟到合计
        th 早退合计
        th 病假合计
        th 旷工合计
    tbody
      tr
        td
          input(type="checkbox")
        td 李四
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td 3小时
        td 3小时
        td 3小时
        td 3天
        td 3天
      tr
        td
          input(type="checkbox")
        td 李四
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td 3小时
        td 3小时
        td 3小时
        td 3天
        td 3天
      tr
        td
          input(type="checkbox")
        td 李四
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td 3小时
        td 3小时
        td 3小时
        td 3天
        td 3天
      tr
        td
          input(type="checkbox")
        td 李四
        td TY008
        td 秩序维护部
        td 班长
        td 二级
        td 3小时
        td 3小时
        td 3小时
        td 3天
        td 3天
