.rn-table-tools{
  input[type='checkbox']{
    width:20px;
    height:20px;
  }

  label{
    margin-right:20px;
    margin-bottom:0;
    margin-left:5px;
  }

  label.lab-desc{
    margin-right:5px;
    margin-left:5px;
  }

  input[type='checkbox'],label{
    display: inline-block;
    vertical-align: middle;
  }

  .working-shift-link{
    display: inline-block;
    margin-right:20px;
    line-height: 32px;
    vertical-align: middle;
    font-size:16px;
  }

  input,select{
    height:28px;
    padding:2px 5px;
  }
}

table{
  thead{
    th{
      background-color: #f2f2f2;
      border-bottom: 1px solid #dee2e6;
    }

  }
}
