.container.employee-profile
  .profile-header
    h4.name.clearfix 张三
      small.float-right
        strong 员工编号:
        span No.0088888
  .profile-content
    .profile-info-group
      label 姓名：
      span 张三
    .profile-info-group
      label 昵称：
      span 暗黑夜神
    .profile-info-group
      label 用户名：
      span 小可爱
    .profile-info-group
      label 性别：
      span 男
    .profile-info-group
      label 所在部门：
      span 客服部
    .profile-info-group
      label 职位：
      span 普通员工
    .profile-info-group
      label 职位等级：
      span 一级
    .hr-wrap
      hr
    .profile-info-group
      label 手机号：
      span 18800000000
      span 18800000001
    .profile-info-group
      label 邮箱：
      span email@email.com
    .profile-info-group
      label QQ：
      span 88888888
    .profile-info-group
      label 紧急联系人：
      span 王大锤
    .profile-info-group
      label 紧急联系电话：
      span 18800000002
    .profile-info-group
      label 家庭住址：
      span 重庆市巴南区李家沱红光大道69号
    .profile-info-group
      label 入职时间：
      span 2018-08-08 08:08:08
    .profile-info-group
      label 办公地点：
      span 金蓝湾
    .hr-wrap
      hr
    .profile-info-group
      label 本月薪资：
      span ¥ 20000.00
        a.salary-detail-link([routerLink]="['/salary/detail']") 查看薪资详情
    .hr-wrap
      hr
    .profile-info-group
      label 备注：
      span 备注备注备注备注备注备注备注备注备注备注备注备注备




