.salary-standard{
  margin-bottom:30px;
  .setting-box-wrap{
    float: left;
  }

  .preview-right-wrap{
    //float: right;
  }

  .setting-box-wrap,.preview-box-wrap{
    //width:33%;
    .title{
      font-size:16px;
      padding:10px 0;
    }
    .content{
      padding:15px 20px;
      border:1px solid #ededed;
      background-color: #f4f6f8;
      width:100%;
      min-height:400px;
      .form{
        label{
          width:84px;
          margin-right:5px;
        }
      }
    }
  }

  .setting-box-wrap{
    width:19%;
    margin-right:5px;
    //label{
    //  width:84px;
    //}
    .rn-form-content{
      width:204px;
    }
    input,select,textarea{
      //width:100px;
    }
  }

  .preview-box-wrap{
    width:100%;
  }

  .filter-condition-wrap{
    display: flex;
    flex-wrap: wrap;
    .condition-group{
      width:200px;
      margin-bottom:10px;
      label{
        padding-right:5px;
        text-align: right;
        width:60px;
      }

      input,select{
        height: 26px;
        width:138px;
        padding: 2px 5px;
        line-height: 20px;
      }
    }
  }
  .filter-condition-content{

  }
  .filter-condition-desc{

  }

  .save-btn{
    margin-right:20px;
  }
}
