.rn-box.salary-standard
  .card
    .card-header
      h4.card-title 工资参数配置
    .card-body
      .setting-box-wrap.clearfix
        .setting-box
          .title 基本工资设置
          .content
            form.form.rn-form
              .rn-form-group
                label 项目组
                .rn-form-content
                  select
                    option(selected value="1") 金蓝湾
                    option(value="2") 动力城
                    option(value="3") 青年国际
              .rn-form-group
                label 部门
                .rn-form-content
                  select
                    option(selected value="1") 总经办
                    option(value="2") 客服部
                    option(value="3") 秩序维护部
              .rn-form-group
                label 职位
                .rn-form-content
                  select
                    option(selected value="1") 总经理
                    option(value="2") 项目经理
                    option(value="3") 部门经理
                    option(value="4") 班长
              .rn-form-group
                label 等级
                .rn-form-content
                  select
                    option(selected value="1") 一级
                    option(value="2") 二级
                    option(value="3") 三级
              .rn-form-group
                label 年龄
                .rn-form-content
                  select
                    option(selected value="1") 45岁以下
                    option(value="2") 45到50岁
                    option(value="3") 50到55岁
                    option(value="4") 55岁以上
              .rn-form-group
                label 工龄
                .rn-form-content
                  select
                    option(selected value="1") 3年以内
                    option(value="2") 3~5年
                    option(value="3") 6到10年
                    option(value="4") 10年以上
              .rn-form-group
                label 基本工资
                .rn-form-content
                  input(type="text" placeholder="请填写金额")
              //.rn-form-group
                label 试用期
                .rn-form-content
                  select
                    option(selected value="1") 80%
                    option(value="2") 90%
                    option(value="3") 100%
              //.rn-form-group
                label 备注
                .rn-form-content
                  textarea(rows=5)
        .setting-box
          .title 绩效设置
          .content
            form.form.rn-form
              .rn-form-group
                label 计提绩效工资
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 经营负向绩效
                .rn-form-content
                  input(type="text")
        .setting-box
          .title 保险公积金
          .content
            form.form.rn-form
              .rn-form-group
                label 养老保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 失业保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 医疗保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 工商保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 生育保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 商业保险
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 公积金定额
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 公积金比例
                .rn-form-content
                  input(type="text" placeholder="请输入公积金比例,例如:5%")
        .setting-box
          .title 补贴设置
          .content
            form.form.rn-form
              .rn-form-group
                label 津贴
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 午餐补贴
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 晚餐补贴
                .rn-form-content
                  input(type="text")
        .setting-box
          .title 扣款设置
          .content
            form.form.rn-form
              .rn-form-group
                label 话费超标
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 午餐补贴
                .rn-form-content
                  input(type="text")
              .rn-form-group
                label 晚餐补贴
                .rn-form-content
                  input(type="text")
      .preview-box-wrap
        .title 配置信息预览
        .content
          .filter-condition-wrap
            .condition-group
              label 项目组
              select
                option(selected value="1") 金蓝湾
                option(value="2") 动力城
                option(value="3") 青年国际
            .condition-group
              label 部门
              select
                option(selected value="1") 总经办
                option(value="2") 客服部
                option(value="3") 秩序维护部
            .condition-group
              label 职位
              select
                option(selected value="1") 总经理
                option(value="2") 项目经理
                option(value="3") 部门经理
                option(value="4") 班长
            .condition-group
              label 等级
              select
                option(selected value="1") 一级
                option(value="2") 二级
                option(value="3") 三级
            .condition-group
              label 年龄
              select
                option(selected value="1") 45岁以下
                option(value="2") 45到50岁
                option(value="3") 50到55岁
                option(value="4") 55岁以上
            .condition-group
              label 工龄
              select
                option(selected value="1") 3年以内
                option(value="2") 3~5年
                option(value="3") 6到10年
                option(value="4") 10年以上
          hr
          .filter-condition-content
            h6 工资示例：
            .overflow-x-box
              table.table.table-bordered
                thead
                  tr
                    th 姓名
                    th 岗位名称
                    th 工资标准
                    th 每月实发工资
                    th 试用工资
                    th 计提绩效工资
                    th 基本工资
                    th 出勤天数
                    th 本月基本工资
                    th 津贴
                    th 便民奖金
                    th 加班工资
                    th 法定节假日加班工资
                    th 其他应发
                    th 考勤/核扣款
                    th 经营负向绩效扣款
                    th 应发合计
                    th 个人所得税
                    th 养老保险
                    th 失业保险
                    th 住房公积金
                    th 手机超标
                    th 其他扣款
                    th 费用超支扣款
                    th 扣款小计
                    th 实发工资
                    th 午餐补贴
                    th 晚餐补贴
                    th 领款金额
                    th 收款人签章
                    th 备注
                tbody
                  tr
                    td 张三
                    td 秩序维护
                    td 2000
                    td 3000
                    td 2400
                    td 1200
                    td 1200
                    td 21.5
                    td 1200
                    td 0
                    td 0
                    td 0
                    td 0
                    td 0
                    td 0
                    td -200.00
                    td 2600
                    td 0
                    td 100
                    td 100
                    td 100
                    td 0
                    td 0
                    td 0
                    td 0
                    td 2800
                    td 0
                    td 0
                    td 2800
                    td 0
                    td 备注
            //table.table.table-bordered
              thead
                tr
                  th 基本工资
                  th 绩效
                  th 加班工资
                  th 其他
              tbody
                tr
                  td 基本工资
                  td 绩效
                  td 加班工资
                  td 其他
          .filter-condition-desc
            p 工资描述:工资的组成由基本工资+....构成。
    .card-footer
      button.btn.btn-primary.save-btn 保存
      button.btn.btn-secondary.cancel-btn 取消
